/* You can add global styles to this file, and also import other style files */
app-bar-chart {
    .bar {
        fill: green;
    }
    .highlight {
        fill: red;
    }
    .title {
        fill: blue;
        font-weight: bold;
    }
}

app-bar-chart-array-data{
    svg {
        margin: 200px 75px;
        padding-bottom: 50px;
    }
    svg rect {
        fill: grey;
    }
    svg text {
        fill: yellow;
        font: 12px sans-serif;
        text-anchor: end;
    }
    svg text.title {
        fill: black;
        font: 18px sans-serif;
    }
}

app-pie-chart {
    .pie-chart {
        padding-bottom: 30px;
    }
}
